<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <form name="Form" action="http://localhost:8080/servlet-app/mypage" id="form" method="POST">
        Enter Name :<input type="text" name="Name" id="fname" required><br>
        Enter Password : <input type="password" name="Password" id="Password" required><br>
        <input type="submit" value="Send">
    </form>
</body>
</html>