<section id="display" class="container-fluid">
        <span class="label label-primary">Total No Student</span>
        <span class="badge">{{StudentDetailList.length}}</span>
    <div>
            <img id="loading-image" src="../../g1.gif" ng-hide="SpinnerHide" alt="Loading..." />
            <table class="table table-striped" style="margin-top: 10px" >
                <tr>
                    <th>Student Roll NO</th>
                    <th>Student Name</th>
                    <th>Student Age</th>
                    <th>Email Id</th>
                    <th>Gender</th>
                    <th>Date</th>
                    <th ng-hide="!isValidUser">Delete data</th>
                    <th ng-hide="!isValidUser">Edit date</th>
                </tr>
                <tbody ng-repeat="i in StudentDetailList" >
                    <tr>
                        <td>{{i.rollNo}}</td>
                        <td>{{i.name}}</td>
                        <td>{{i.age}}</td>
                        <td>{{i.email}}</td>
                        <td ng-if="i.isMale == true">Male</td>
                        <td ng-if="i.isMale == false">Female</td>
                        <td>{{i.date|date:"short"}}</td>
                        <td ng-controller="deletecontroller" ng-hide="!isValidUser"><a href="#/display" ng-click="deleteStudentData(i.id)" class="btn btn-danger" >DELETE</a></td>
                        <td ng-hide="!isValidUser"><a href="#/edit/{{i.id}}" class="btn btn-primary">EDIT</a></td>
                    </tr>
                </tbody>
            </table>

        </div>

</section>