<section id="login">
  <form class="container" name='loginform' ng-hide='isValidUser'>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="text" class="form-control" ng-model="UserName" placeholder="Email" required>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" ng-model="Password" placeholder="Password" required>
  </div>
  </div>
  <button ng-click="checkUser()" class="btn btn-default" ng-disabled='loginform.$invalid' >Submit</button>
</form>
<button ng-hide='!isValidUser' ng-click="logout()" class="btn btn-danger">LogOut</button>
</section>